<div class="col-md-4" style="text-align:center;margin:5px; border:1px solid black" >
    <h4 class="text-center">Modify Existing Inspection</h4>
    <form style="display: inline-block; margin:10px" #inspectionDetails="ngForm" (ngSubmit)="updateInspection(inspectionDetails.value)">

        <div>
            <h5>General Information</h5>
            <div class="form-group">
                <label>Business Name</label>
                <input type="text" class="form-control" name="businessName" [(ngModel)]="inspectionBeforeUpdated.businessName">
            </div>
            <div class="form-group">
                <label>Industry Sector</label>
                <input type="text" class="form-control" name="industrySector" [(ngModel)]="inspectionBeforeUpdated.industrySector">
            </div>
            <div class="form-group">
                <label>certificate N</label>
                <input type="number" class="form-control" name="certificateN" [(ngModel)]="inspectionBeforeUpdated.certificateN">
            </div>
        </div>

        <div>
            <h5>Contact Information</h5>
            <div class="form-group">
                <label>Street</label>
                <input type="text" class="form-control" name="street" [(ngModel)]="inspectionBeforeUpdated.street">
            </div>
            <div class="form-group">
                <label>city</label>
                <input type="text" class="form-control" name="city" [(ngModel)]="inspectionBeforeUpdated.city">
            </div>
            <div class="form-group">
                <label>Zip Code</label>
                <input type="number" class="form-control" name="zipcode" [(ngModel)]="inspectionBeforeUpdated.zipcode">
            </div>
            <div class="form-group">
                <label>Number</label>
                <input type="number" class="form-control" name="phNumber" [(ngModel)]="inspectionBeforeUpdated.phNumber">
            </div>
        </div>

        <div>
            <h5>Inspection Remarks</h5>
            <div class="form-group">
                <label>ID</label>
                <input type="text" class="form-control" name="inspectionId" [(ngModel)]="inspectionBeforeUpdated.inspectionId">
            </div>
            <div class="form-group">
                <label>Inspection Result</label>
                <input type="text" class="form-control" name="inspectionResult" [(ngModel)]="inspectionBeforeUpdated.inspectionResult">
            </div>
        </div>
    
    <button routerLink="/">Cancel</button>
    <button type="submit">Update</button>
    </form>
</div>



